# object files that are created when compiling
*.o

# qtcreator .user files
*.user

# client executable file
client

#visual studio files
*.sdf
*Debug/*
*.vcxproj.filters

#dSym files
*dSYM*/*

#orig files
*.orig
